input {
    border-radius: .4em;
    font-size: 1.1em;
    font-variant: normal;
    margin: .4em;
    border: .02em solid;
    padding: 0.4em;
    text-align: justify;
}

input:focus {
    border: none;
    /* border: olivedrab; */
}