input {
    border-radius: .2em;
    font-size: 1.1em;
    font-variant: normal;
    margin: .4em;
    border: .2px solid;
    padding: 0.4em;
    text-align: justify;
}

input:focus {
    border: olivedrab;
}